@charset "UTF-8";
/*rgba(10, 10, 10, 0.973) cor preta*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' ,sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
}

/*Cabeçelho*/
header{
    border-bottom: 1px outset rgb(134, 132, 132);
    position: fixed;
    top: 0; 
    backdrop-filter: blur(10px);  
    width: 100%;
    padding: 20px 0px ;
    overflow: hidden; 
    z-index: 10;
    background-color: black;
}

div.container_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*Fim cabeçalho*/

/*logo*/
.logo_nome a{
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}
/*fim logo*/

/*menu*/
div.menu{
    display: flex;
}
div.menu    ul{
        text-decoration: none;
        list-style: none;    
}
div.menu    ul li{
        display: inline-block;
        margin: 0px 15px;
}
div.menu    a.menu{
        text-decoration: none;
        color: white;
        padding: 5px;
        border-radius: 10px;
}
div.menu    a.menu:hover{
        color: rgb(0, 68, 255);
        transition: 0.4s;
}
div.menu    a.menu:not(:hover){
        text-decoration: none;
        color: white;
        padding: 5px;
        border-radius: 10px;
        transition: 0.4s;
}
/*fim menu*/

/*containers*/
section.home, section.sobre, section.projetos, section.habilidades, section.contato{
    padding: 5% 8%;
    min-height: 35vh;
    border-bottom: 2px outset rgb(134, 132, 132);
    visibility: hidden;
    
    
}
section.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    
}
section.sobre{
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: rgb(10, 10, 10);
    height: 70vh;
    
}
section.habilidades{
    background-color: rgb(10, 10, 10);
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    visibility: visible;

}

section.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100vh;
    visibility: visible;
}

/*fim containers*/

/*Escritas*/
div.info_pessoal h1{
    font-size: 3em;
    line-height: 90px;
    text-shadow: 5px 5px 8px rgb(34, 34, 34);
}

.titulo-principal:after{
    content: '_';
    opacity: 1;
    animation: pisca .7s infinite;
   }
   @keyframes pisca{
       0%, 100%{
           opacity: 1;
       }
       50%{
           opacity: 0;
       }
   }

div.info_pessoal p{
    font-family: sans-serif;
    font-size: 1.5em;
    letter-spacing: 13px;
}

p#color_blue{
    color: rgb(0, 68, 255);
    text-shadow: 8px 8px 15px black;
    letter-spacing: 10px;
}
/*Fim escritas*/

/*Minha foto*/
div.img_pessoal img{
    height: 70vh;
    width: 100%;
    border-radius: 25%;  
    box-shadow: -2px -2px 7px rgba(0, 68, 255, 0.616), 2px 2px 7px rgba(96, 3, 218);
}
/*fim minha foto*/

/*div dos botoes*/
div.home_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a img.git{
    height: 55px;
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 23px;
    box-shadow: -10px -13px 20px rgba(0, 68, 255, 0.616), 4px 4px 8px rgba(96, 3, 218);
    margin: 20px;
}
a img.git:hover{
    box-shadow: -10px -13px 20px rgba(36, 88, 233, 0.616);
    padding: 1px;
    transition: 0.2s;
}

a img.link{
    height: 55px;
    background-color: rgb(0, 0, 0);
    border: 7px solid black;
    border-radius: 23px;
    box-shadow: -10px -13px 20px rgba(0, 68, 255, 0.616), 4px 4px 8px rgba(96, 3, 218);
    margin: 20px;
}
a img.link:hover{
    box-shadow: -10px -13px 20px rgba(36, 88, 233, 0.616);
    padding: 1px;
    transition: 0.2s;
}
/*Fim div dos botoes*/
/*Sobre mim*/
div.img_sobre img{
    height: 40vh;
    width: 100%;
    border-radius: 25%;
    box-shadow: 0px 0px 20px rgba(36, 88, 233, 0.616);  
    margin-top: 20px;

}
    div.img_sobre img:hover{
        box-shadow: -8px -8px 15px  rgba(0, 68, 255, 0.616), 5px 5px 15px rgba(96, 3, 218);
        padding: 3px;
        transition: 0.5s;
    }
    
div.sobre_txt{
    width: 600px;
    text-align: justify;
    display: block;
    color: white;
    margin-left: 40px;
    margin-top: 20px;

}
    div.sobre_txt h1{
        margin-bottom: 40px;   
        letter-spacing: 1px
    }
    div.sobre_txt h2{
        margin-bottom: 20px;
        font-weight: 200;
        letter-spacing: 1px
    }
    div.sobre_txt p{
        margin-bottom: 10px;
        letter-spacing: 1px;
        font-size: 1.1em       
    }
/*fim sobre mim*/

/*inicio Projetos*/
div.h1_projetos{
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    margin-bottom: 40px;   
    letter-spacing: 2px;
    font-size: 1.8em;
}

div.container_projetos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin: auto;
    max-height: 720px;
}

div.caixa_projeto{
    width: 250px;
    height: 200px;
    background-color: rgb(170, 170, 170);
    margin: 15px;
    border-radius: 15px;
}

div.caixa_projeto_escondido0{
    width: 250px;
    height: 200px;
    background-color: rgb(170, 170, 170);
    margin: 15px;
    border-radius: 15px; 
}
div.caixa_projeto_escondido1{
    width: 250px;
    height: 200px;
    background-color: rgb(170, 170, 170);
    margin: 15px;
    border-radius: 15px;
}
div.caixa_projeto_escondido2{
    width: 250px;
    height: 200px;
    background-color: rgb(170, 170, 170);
    margin: 15px;
    border-radius: 15px;
}

div.button_projetos {
    display: block;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

div.button_projetos input{
    background-color: rgb(18, 18, 18);
    width: 250px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
    color: aliceblue;
}

div.button_projetos input:hover{
    border: 1px solid white;
    letter-spacing: 2px;
    background-color: rgb(53, 52, 52);
    transition: 0.5s;
    cursor: pointer;
}

div.button_projetos input:not(:hover){
    background-color: rgb(18, 18, 18);
    width: 250px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
    color: aliceblue;
    transition: 0.5s;
}

/*fim Projetos*/


/*inicio habilidades*/

div.h1_habilidades{
    width: 100%;
    text-align: center;
    display: block;
    color: white;   
    letter-spacing: 2px;
    font-size: 1.8em;
    margin-bottom: 72px;
}

div.ajustador_habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container_habilidades1{
    width: 350px;
    height: 200px;
}
.flipper1{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s;
    position: relative;
    display: flex;

}
.container_habilidades1:hover .flipper1{
    transform: rotateY(180deg);
}

.container_habilidades2{
    width: 350px;
    height: 200px;
}
.flipper2{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s;
    position: relative;
    display: flex;

}
.container_habilidades2:hover .flipper2{
    transform: rotateY(180deg);
}

.container_habilidades3{
    width: 350px;
    height: 200px;
}
.flipper3{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s;
    position: relative;
    display: flex;

}
.container_habilidades3:hover .flipper3{
    transform: rotateY(180deg);
}

.container_habilidades4{
    width: 350px;
    height: 200px;
}
.flipper4{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s;
    position: relative;
    display: flex;

}
.container_habilidades4:hover .flipper4{
    transform: rotateY(180deg);
}

.container_habilidades5{
    width: 350px;
    height: 200px;
}
.flipper5{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s;
    position: relative;
    display: flex;

}
.container_habilidades5:hover .flipper5{
    transform: rotateY(180deg);
}

.container_habilidades6{
    width: 350px;
    height: 200px;
}
.flipper6{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s;
    position: relative;
    display: flex;
}
.container_habilidades6:hover .flipper6{
    transform: rotateY(180deg);
}

#front{
    background-color: blue;
    position: absolute;
    backface-visibility: hidden;
    width: 350px;
    height: 200px;
}
#back{
    background-color: red;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    width: 350px;
    height: 200px;
}


/*
div.container_habilidades{
    display: grid;
    grid-template-areas: 
    "div div div"
    "div div div";
    gap: 1rem;
    width: 100%;
    margin-left: -50px;
}

div.caixa_habilidades{
    width: 390px;
    height: 200px;
    background-color: gray;
    box-shadow: -1px -1px 1px rgba(0, 68, 255, 0.616), 1px 1px 1px rgba(96, 3, 218);
    border-radius: 5px;  
}
*/

/*fim habilidades*/

/*inicio contato*/

section.contato h1{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin-bottom: 2rem;

}

div.container_contato{
    border-left: 6px solid blue;
}
div.container_contato:hover{
    border-left: 6px solid rgba(96, 3, 218);
    transition: all 0.6s;
}
div.container_contato:not(:hover){
    border-left: 6px solid blue;
    transition: all 0.6s;
}

div.container_contato form{
    display: flex;
    flex-direction: column;
    width: 750px;
    margin-left: 3px;
}

form label{
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
    background-color: gray;
}

form input::placeholder, form textarea::placeholder{
    color: #c0bfbf;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
    background-color: gray;
}
form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;

}
form button:hover{
    background: #ffffff;
    color: black;
    border-radius: 16px;
}

/*fim contato*/

/*inicio footer*/

footer{
    width: 100%;
    text-align: center;
    padding: 20px;
    line-height: 25px;
}